.side-bar {
  width: 200px;
  background-color: black; /* dark gray */
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh; /* full height */
  border-right: 1px solid rgb(88, 87, 87);
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: black;
}

.user-info p {
  margin: 0;
  font-weight: bold;

}

.side-bar a {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  transition: background 0.2s;
}

.side-bar a:hover {
  background-color: #374151;
}

.side-bar a.active-link {
  background-color: rgba(144, 44, 44, 0.677) /* slightly lighter gray for active link */
}

.icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.name{
    font-family: "poppins";
    font-size: 14px;
}