.Admin-navbar {
  width: 100%;
  height: 60px;
  background-color: black; /* dark gray/navy */
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-bottom:1px solid rgb(99, 96, 96)
}

.Admin-navbar img {
  height: 30px; /* logo height */
    width: 140px;
}
