/* auth.css */

body, html {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  height: 100%;
}

.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  background:black;
}



.auth-form-box {
  background-color: #212020;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  width: 350px;
  max-width: 90%;
    position: absolute;
  top: 80px;
}

.auth-content h1 {
  color: #fff;
  margin: 0 0 10px 0;
  font-size: 24px;
  text-align: center;
}

.auth-content p {
  color: #fff;
  margin: 0 0 10px 0;
  font-size: 14px;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group .input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 15px;
  opacity: 0.7;
}

.input-group input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border: none;
  border-radius: 20px;
  background-color: rgba(246, 246, 246, 0.1);
  color: #fff;
}

.input-group input::placeholder {
  color: #9a9292;
}

/* Submit button */
button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #ff3b3b;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  align-self: center;
}

button:hover {
  background-color:#ef1d1d;
}

/* Normal paragraph text */
.auth-form-box p {
  color: #ccc;
  font-size: 13px;
  text-align: center;
  padding: 2px;
  margin: 10px;
}

.link {
  color: #1e90ff;
  text-decoration: underline;
  font-size: 13px;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
}

/* Special blue link part inside paragraphs */
.auth-form-box p .link {
  color: #1e90ff;
  cursor: pointer;
  text-decoration: underline;
  transition: 0.3s;
}

.auth-form-box p .link:hover {
  color: #0d6efd;
}
.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;

  color: white;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.google-btn img {
  width: 18px;
  height: 18px;
}

.google-btn:hover {
  background-color: #3367d6;
}
