.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.spinner {
  width: 56px; /* 14 * 4px */
  height: 56px;
  border: 4px solid #ccc; /* base color */
  border-top: 4px solid #ff4c00; /* primary color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
